@page "/dashboard"
@using Blazorise.Charts
@using System.Globalization
@using SMPLX.ForecastingDashboard.Helpers
@using Microsoft.Extensions.Options
@using SMPLX.ForecastingDashboard.Blazor.ViewModels
@using SMPLX.ForecastingDashboard.Cases
@using SMPLX.ForecastingDashboard.ForecastData
@using SMPLX.ForecastingDashboard.Settings
@inherits DashboardViewModel

@inject IJSRuntime JS
@inject IOptions<GeologicalOptions> GeoOptions
@inject ICaseAppService CaseAppService

<Row Gutter="(40,40)">
    <Column class="col-lg-12 text-center">
        <Card>
            <CardHeader>
                <h4>Analytics</h4>
            </CardHeader>
            <AnalyticsPage></AnalyticsPage>
        </Card>
    </Column>
</Row>
<Row Gutter="(40,40)">
    <Column class="col-lg-12 text-center">
        <Card>
            <CardHeader>
                <h4>Heatmap</h4>
            </CardHeader>
            <HeatmapPage></HeatmapPage>
        </Card>
    </Column>
</Row>

@code {

}