@page "/heatmap"

<div class="row">
    <div class="col-xl-6">
        <h3>Show marker for Madrid 
            <RadzenCheckBox @bind-Value=@showMadridMarker />
        </h3> 
        <RadzenGoogleMap style="height: 400px" Zoom=@zoom ApiKey="@apiKey" Center=@(new GoogleMapPosition() { Lat = 6.967318, Lng = 126.018687 }) MapClick=@OnMapClick MarkerClick=@OnMarkerClick>
            <Markers>
                <RadzenGoogleMapMarker Title="London" Label="London" Position=@(new GoogleMapPosition() { Lat = 51.5074, Lng = 0.1278 }) />
                <RadzenGoogleMapMarker Title="Paris " Label="Paris" Position=@(new GoogleMapPosition() { Lat = 48.8566, Lng = 2.3522 }) />
                @if (showMadridMarker)
                { 
                    <RadzenGoogleMapMarker Title="Madrid " Label="Madrid" Position=@(new GoogleMapPosition() { Lat = 40.4168, Lng = -3.7038 }) />
                }
            </Markers>
        </RadzenGoogleMap>
    </div>
</div>

@code {
    string apiKey = "AIzaSyAV-mIdsbijlrwdxdOXcMPYsdO7siJpfOA";
    int zoom = 3;
    bool showMadridMarker;

    void OnMapClick(GoogleMapClickEventArgs args)
    {
        Console.WriteLine($"Map clicked at Lat: {args.Position.Lat}, Lng: {args.Position.Lng}");
    }

    void OnMarkerClick(RadzenGoogleMapMarker marker)
    {
        Console.WriteLine($"Map {marker.Title} marker clicked. Marker position -> Lat: {marker.Position.Lat}, Lng: {marker.Position.Lng}");
    }
}