@page "/heatmap"
@using Newtonsoft.Json
@using SMPLX.ForecastingDashboard.Settings
@using Microsoft.Extensions.Options
@using SMPLX.ForecastingDashboard.ForecastData
@inject IJSRuntime JS
@inject IOptions<GeologicalOptions> GeoOptions
@inherits ForecastingDashboardComponentBase
<Card>
    <div id="hmap" style="height:800px;"></div>
</Card>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var geoOptions = GeoOptions.Value;
        var heatData = ObjectMapper.Map<List<Location>, List<HeatMapDto>>(geoOptions.Barangays);
        heatData.ForEach(_ => _.Count = GetRandomNumber(1, 500));
        await JS.InvokeVoidAsync("initMap",heatData);
    }

    public double GetRandomNumber(double minimum, double maximum)
    {
        Random random = new Random();
        return random.NextDouble() * (maximum - minimum) + minimum;
    }

}