@page "/"
@using Volo.Abp.MultiTenancy
@inherits ForecastingDashboardComponentBase
@inject ICurrentTenant CurrentTenant
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="container">

    <div class="landing-wrap">
        <div class="p-5 text-center">
            <div class="row">
                <div class="col-lg-7">
                    <h1>Welcome to the Banay-banay forecasting</h1>
                    <p class="lead px-lg-5 mx-lg-5">@L["LongWelcomeMessage"]</p>

                    @if (!CurrentUser.IsAuthenticated)
                    {
                        <a class="btn btn-primary" href="/Account/Login">
                            <i class="fa fa-sign-in"></i> @L["Login"]
                        </a>
                    }
                </div>
                <div class="col-lg-5 mt-2">
                    <img class="img-fluid" src="https://preview.colorlib.com/theme/unbrew/images/bg_1.svg"/>
                </div>
            </div>
        </div>
    </div>
</div>